{% extends "base.html" %}

{% block title %}
  Index
{% endblock %}

{% block heading %}
  Index of Categories
{% endblock %}

{% block content %}
<ul class="home-list">

  {# display each entity category and its number of entries #}
  {% for entity, info in all_entities.items() %}
    <li>
      <a href="{{ url_for('entity_index', entity=entity) }}" class="entity-link fw-semibold">
        {{ info.title | capitalize  }}
      </a>
      <span class="entity-count">({{ info.data | length }})</span>
    </li>
  {% endfor %}
</ul>
{% endblock %}